<form [formGroup]="patientForm">

    <h4><label for="firstName">first name</label></h4>
    <input id="firstName" placeholder="required" class="form-control" formControlName="firstName" required>

    <h4><label for="lastName">last Name</label></h4>
    <input id="lastName" placeholder="required" class="form-control" formControlName="lastName" required>

    <h4><label for="birthdate">Date of birth</label></h4>
    <input id="birthdate" type="date" placeholder="required" class="form-control" formControlName="birthdate" required>
  
    <h4><label for="gender">Gender (F or M)</label></h4>
    <select id="gender" (change)="genderSelect($event)" placeholder="required" class="form-control"
        formControlName="gender" required>
        <option>M</option>
        <option>F</option>
    </select>

    <h4><label for="address">address</label></h4>
    <input id="address" class="form-control" formControlName="address">

    <h4><label for="phoneNumber">phone number</label></h4>
    <input id="phoneNumber" class="form-control" formControlName="phoneNumber">
    
    <div>
        <button type="button" class="btn btn-primary space" [disabled]="!patientForm.valid" (click)="savePatient()">
            <mat-icon>save</mat-icon>
            Save Patient</button>
    </div>
</form>