
<form [formGroup]="patientForm">
  
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <h4><label for="firstName">first name</label></h4>
            </div>
        </div>
            <div class="col-sm-4">
                <input id="firstName" placeholder="required" class="form-control" formControlName="firstName" required>              
            </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <h4><label for="lastName">last Name</label></h4>
            </div>
        </div>
        <div class="col-sm-8">
            <input id="lastName" placeholder="required" class="form-control" formControlName="lastName" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <h4><label for="birthdate">Date of birth</label></h4>
            </div>
        </div>
        <div class="col-sm-8">
            <input data-toggle="tooltip" data-placement="top" title="format YYYY-MM-DD, ex 2000-10-31" id="birthdate" placeholder="required" class="form-control" formControlName="birthdate" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <h4><label for="gender">Gender</label></h4>
            </div>
        </div>
        <div class="col-sm-8">
            <input id="gender" placeholder="required" class="form-control" formControlName="gender" required>
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <h4><label for="address">address</label></h4>
            </div>
        </div>
        <div class="col-sm-8">
            <input id="address" class="form-control" formControlName="address">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4><label for="phoneNumber">phone number</label></h4>
        </div>
        <div class="col-sm-8">
            <input id="phoneNumber" class="form-control" formControlName="phoneNumber">
        </div>
    </div>
    <button type="button" class="btn btn-primary space" [disabled]="!patientForm.valid" (click)="savePatient()">Save Patient</button>
</form>