<table>
   <tr>
       <th>id</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>birthdate</th>
        <th>gender</th>
        <th>address</th>
        <th>phone number</th>
        <th>update patient</th>
        <th>notes</th>
        <th>add note</th>
    </tr>
    <tr *ngFor="let patient of (patients | async); let i=index">
        <td>{{patient.id}}</td>
        <td>{{patient.firstName}}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.birthdate}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.address}}</td>
        <td>{{patient.phoneNumber}}</td>
        <td><button [routerLink]="['/update', patient.id]" class="btn btn-secondary btn-sm"  type="button">                   
            <mat-icon>create</mat-icon>
        </button></td>
        <td><button [routerLink]="['/history', patient.id]" class="btn btn-secondary btn-sm" type="button">
            <mat-icon>art_track</mat-icon>
        </button></td>
        <td><button [routerLink]="['/history-create', patient.id]" class="btn btn-secondary btn-sm" type="button">
            <mat-icon>add_box</mat-icon>
        </button></td>
    </tr>
</table>

